* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-primary-color : #6f4c37;
    --color-h1 : #dacbcb;
    --primary-color : #dacbcb;
    --color-hover : #6f4c37;
    --background-hover : #dacbcb;
    --primary-transition: all 0.5s ease;
    --delete : #d14c4c;
    --shadow-hover : #b3944c;
    --shadow : #0f0f0f;

}

body {
       display: flex;
       flex-direction: column;
       margin: 5px;
       height: 100vh;
       background-image: url(img/parchemin.jpg);
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* nav */
header {
    display: flex;
    height: 10vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    width: 100vw;
}

nav h1,
nav ul {
    margin: 1rem;
}

nav>h1 {
    font-size: 2.5rem;
    color: var(--background-hover);
}

nav>div>ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--background-hover);
}

a:hover {
    text-shadow: 2px 2px 2px var(--shadow-hover);
}

.counter-position {
    display: flex;
    align-items: center;
}

.counter {
    color: var(--background-hover);
}

.fa-refresh {
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: var(--delete);
    text-shadow: 2px 2px 2px var(--shadow);
    transition: .3s;
}
.fa-refresh:hover {
    text-shadow: 2px 2px 2px var(--shadow-hover);
    transform: rotate(45deg);
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;  
    min-height: 15vh; 
}

form input,
form button {
    background: var(--background-primary-color);
    border: none;
    font-size: 1.8rem;
    color: var(--color-h1);
    padding: 0.3rem;
 }

form input {
    max-width: 50%;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

form button {
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    cursor: pointer;
}

form button:hover {
    background: var(--background-hover);
    color: var(--color-hover);
}

select {
    background: var(--background-primary-color);
    border: none;
    font-size: 1rem;
    color: var(--primary-color);
    padding: 0.3rem;
    border-radius: 0.4rem;
    margin: 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

.select {
    overflow: hidden;
    position: relative;
    padding: 1rem;
    margin: .5rem;
}

main {
    height: calc(100vh - 15vh);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: .5rem;
}

footer>p {
    color: var(--color-h1);
    font-size: 0.9rem;
}

.date {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: var(--color-h1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo {
    min-width: 30vw;
    list-style: none;
}

/* la partie script.js*/

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem;
    background: var(--background-primary-color);
    color: var(--primary-color);
    font-size: 1.8rem;
    transition: all .5s ease;
    border-radius: 0.4rem;
}

.newTask {
    flex: 1;
    padding: 0rem .4rem;
    color: var(--primary-color);
}

.check-btn,
.delete-btn {

    font-size: 0.8rem;
    background: var(--background-primary-color);
    color: var(--primary-color);
    border: none;
    padding: 0.7rem;
    cursor: pointer;
    transition: var(--primary-transition);
    border-radius: 0.4rem;
}

.check-btn:hover,
.delete-btn:hover {
background: var(--background-hover);
    color: var(--color-hover);
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.achieved {
    text-decoration: line-through;
    opacity: 0.5;
}

.transighost{
    transform: translateX(16rem);
    opacity: 0;
}

@media  screen and (max-width: 600px) {
    


}
@media  screen and (max-width: 360px) {
    
    nav>h1 {
        font-size: 1.5rem;
    }
    nav h1,
    nav ul{
        margin: 0.5rem;
    }
}